/* Mobile-Version */
@media(max-width: 375px) {
    .m160 {
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .menu {
        height: 64px;
    }

    #logo {
        width: 40px;
        height: 40px;
    }

    .link_m {
        font-size: 16px;
    }

    .link_m a {
        display: none;
    }

    .btn {
        display: flex !important;
    }

    .head-text {
        margin-top: 55%;
    }

    h1 {
        font-size: 40px;
    }

    .head-text p {
        font-size: 16px;
    }

    .m120 {
        margin-top: 72px;
        margin-bottom: 72px;
    }

    .order_h2 h2 {
        font-size: 40px;
    }

    .order_img_txt {
        flex-direction: column;
        gap: 32px;
    }

    .order_img img {
        width: 112px;
        height: 112px;
    }

    .order_text {
        margin-top: 8px;
    }

    .order_text p {
        font-size: 32px;
    }

    .menu_h2 h2 {
        font-size: 40px;
        margin-top: 72px;
    }
}