/* Mobile-Version */
@media(max-width: 767px) {
    .m160 {
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .menu {
        height: 64px;
    }

    #logo {
        width: 40px;
        height: 40px;
    }

    .btn .img_phone {
        height: 16px;
        width: 16px;
    }

    .link_m {
        font-size: 16px;
    }

    .link_m a {
        display: none;
    }

    .btn {
        display: flex !important;
    }

    .head-text {
        margin-top: 55%;
    }

    h1 {
        font-size: 44px;
        text-align: center;
    }

    .head-text p {
        font-size: 16px;
    }

    .m120 {
        margin-top: 72px;
        margin-bottom: 72px;
    }

    .order_h2 h2 {
        font-size: 40px;
        text-align: center;
    }

    .order_img_txt {
        flex-direction: column;
        gap: 32px;
    }

    .order_img img {
        width: 112px;
        height: 112px;
    }

    .order_text {
        margin-top: 8px;
    }

    .order_text p {
        font-size: 32px;
    }

    .menu_h2 h2 {
        font-size: 40px;
        margin-top: 72px;
    }

    .menu_img_txt {
        margin-top: 40px;
        margin-bottom: 72px;
    }

    .menu_info {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .menu_img img {
        width: 270px;
        height: 270px;
    }

    .menu_txt h3 {
        font-size: 32px;
    }

    .menu_txt tr {
        gap: 85px;
    }

    .menu_txt td {
        font-size: 24px;
    }

    .padd {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .adress_txt h2 {
        font-size: 40px;
        margin-top: 72px;
    }

    .adress_txt p {
        font-size: 16px;
    }

    .adress_txt img {
        height: 16px;
        width: 16px;
    }
    
    .adress_map iframe {
        margin-top: 40px;
    }

    #sec5 {
        height: 86px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .foot_img_1 {
        display: none;
    }

    .foot_img_2 {
        display: flex;
    }

    .foot_img_2 {
        height: 40px !important;
        width: 40px !important;
    }

    .social-link-btn {
        width: 32px;
        height: 32px;
    }

    .social-link img {
        width: 32px;
        height: 32px;
    }
}